###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE / editors ###
/.idea/
/.vscode/
###< IDE / editors ###

###> System files ###
.DS_Store
Thumbs.db
###< System files ###

###> Docker ###
/docker-compose.override.yml
###< Docker ###